<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
        <title>{{title}}</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a> &nbsp; | &nbsp; 
            <a href="/blog">My Blog Posts</a> &nbsp; | &nbsp; 
            <a href="/blog_form">Add New Blog Post</a> &nbsp; | &nbsp; 
            <a href="/logout">Logout</a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category,message in messages %}
                <div><ul>
                    <li class="{{category}}">{{message}}</li>
                </ul></div>
            {% endfor %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>