{% extends "base.html" %}

{% block content %}
    <h1>Build-a-Blog!</h1>
        {% if posts|length == 0 %}
        <p>No blog entries yet</p>
        {% else %}
        <br>
            <div>
                {% for post in posts %}
                <h2><a href="./?id={{post.id}}">{{post.title}}</a></h2>
                <p>{{post.body}}</p>
                <br>
                ({{post.date}})
                    <hr />
                 
                {% endfor %}
            </div>
        
        {% endif %}

{% endblock %}