{% extends "base.html" %}

{% block content %}
    <h1>My blog posts</h1>
        {% if posts|length == 0 %}
        <p>No blog posts yet</p>
        {% else %}
        <br>
            <div>
                {% for post in posts %}
                <h2><a href="./blog?id={{post.id}}">{{post.title}}</a></h2>
                <p>{{post.body}}</p>
                <br>
                ({{post.date}})
                <br>
                by <a href="./blog?user={{owner.id}}">{{post.owner.email}}</a>
                    <hr />
                 
                {% endfor %}
            </div>
        
        {% endif %}

{% endblock %}